*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Copperplate Gothic Bold", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main {
  margin: 0 auto;
}

.box {
  align-self: center;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: gray;
}

.input {
  width: 300px;
  height: 45px;
  border: none;
  font-size: 22px;
  outline: none;
  padding: 2px;
  margin-top: 35px;
}

ul {
  list-style: none;
  width: 300px;
  background-color: rgb(255, 255, 255);
}
ul > li {
  border-bottom: solid 1px grey;
  padding: 10px;
}

.info-box {
  align-self: center;
  width: 500px;
  align-items: center;
  background-color: gray;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.boxInfo {
  position: relative;
  margin-top: 10px;
  padding-bottom: 7px;
  display: flex;
  flex-direction: column-reverse;
  background-color: darkviolet;
  width: 300px;
  height: 75px;
  border-radius: 5px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.deleteBtn {
  border-radius: 30px;
  border: 0;
  position: absolute;
  right: 10px;
  top: 20px;
  width: 40px;
  height: 40px;
  background: linear-gradient(
      45deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0) 43%,
      #fff 45%,
      #fff 55%,
      rgba(0, 0, 0, 0) 57%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      135deg,
      darkviolet 0%,
      darkviolet 43%,
      #fff 45%,
      #fff 55%,
      darkviolet 57%,
      darkviolet 100%
    );
  cursor: pointer;
}
